
<ul>
    <li><a href="">Logout</a></li>
    <li><a href="">Checkout</a></li>
    <li><a href="">Search Restaurant</a></li>
    <li><a href="">About us</a></li>
</ul>
<div id="container">
    <div id="content">
        <h1>Search for a Restaurant</h1>
        <ul>
            <!--Dropdown Menu-->
            <label for="cars">Choose a Restaurant:</label>

            <select name="restaurants" id="restaurants">
                <option value="no value"> Select Restaurant</option>
                {{#each restaurantList}}
                    <option value="{{restaurant}}">{{restaurant}}</option>
                {{/each}}
            </select>

        </ul>
        <div id="menu_output">
           <!-- {{#each restaurantList}}
            {{!-- <li>{{ restaurant}}</li>
            <li>{{city}}</li> --}}
            <li>Menu</li>
            <li>{{TB_Menu.food_item}}</li>
            {{/each}}-->
        </div>
    </div>
    <div id="content">
        <h1>Map</h1>
    </div>
</div>
<footer></footer>
<script>
  
    document.getElementById('restaurants').addEventListener('change', ()=>{
        var selectionOption = document.getElementById('restaurants').value;
        var output = document.getElementById('menu_output');
        {{#each restaurantList}}
            if(selectionOption == {{restaurant}}){
                for(var x = 0; x < {{restaurant.TB_Menu}}.length; x++){
                   output.innerHTML = `<form> <input type='checkbox'>${restaurant.TB_Menu[x].food_item} <br /></form>`; 
                }
            }
        {{/each}}

    });

</script>




