
<ul id="navigation">
    <li id="nav"><a href="">Logout</a></li>
    <li id="nav"><a href="">Checkout</a></li>
    <li id="nav"><a href="">Search Restaurant</a></li>
    <li id="nav"><a href="">About us</a></li>
</ul>
<div id="container">
    <div id="content">
        <h1>Search for a Restaurant</h1>
            <!--Dropdown Menu-->
            <label for="cars">Choose a Restaurant:</label>
            <form action="/searchMenu" method="POST">
                <select name="restaurants" id="restaurants">
                    <option value="no value" name="restaurantOption">Select Restaurant</option>
                    {{#each restaurantList}}
                        <option value="{{restaurant}}">{{restaurant}} - {{state}}</option>
                    {{/each}}

                </select>
            </form>
        <ul id="output">
            {{!-- populate this part with menu items --}}
            <li style="color: white;">Menu</li>
            {{#each restaurantList}}
                {{#each this.TB_Menu}} 
                <li style="color: white;">{{this.food_item}}</li>
                {{/each}}
            {{/each}}
        </ul>
    </div>
    <div id="content">
        <h1>Map</h1>
    </div>
</div>
<footer></footer>
<script>
  Handlebars.registerHelper('getMenu', function(restaurant){
      
}
    document.getElementById('restaurants').addEventListener('change', ()=>{
        var selectionOption = document.getElementById('restaurants').value;
        var output = document.getElementById('output');
            {{#each restaurantList}}
                {{#each this.TB_Menu}} 
                <li style="color: white;">{{this.food_item}}</li>
                {{/each}}
            {{/each}}


    });



</script>





