<ul id="navigation">
    <li id="nav"><a href="">Logout</a></li>
    <li id="nav"><a href="">Checkout</a></li>
    <li id="nav"><a href="">Search Restaurant</a></li>
    <li id="nav"><a href="">About us</a></li>
</ul>
<div id="container">
    <div id="content">
        <h1>Search for a Restaurant</h1>
            <!--Dropdown Menu-->
            <label for="cars">Choose a Restaurant:</label>

            <select name="restaurants" id="restaurants" >
                <option value="no value">Select Restaurant</option>
                {{#each restaurantList}}
                    <option value="{{latlong}}">{{restaurant}}</option>
                {{/each}}
            </select>
        
            <form id="menuitems">
        
            {{!-- {{#each restaurantList}}
                {{#each TB_Menu}}
                    <input type="checkbox" /> {{this}}[{{this.Menu_ID}}].{{food_item}}<br>
                {{/each}}
            {{/each}}  --}}
           {{!-- {{#each restaurantList.1.TB_Menu }}
        
                    <input id="menuitems" type="checkbox" /> {{food_item}}<br>
              
            {{/each}}  --}}
            </form>
    </div>
    <div id="map" style="width: 500px; height: 500px;">

    </div>
</div>
<footer></footer>
<script>
    
  document.getElementById('restaurants').addEventListener('change',()=>{
      var optionIndex = document.getElementById('restaurants');
      var inputItem = document.getElementById('menuitems');
      
     
      if(optionIndex.selectedIndex == "1"){
            inputItem.innerHTML = "  {{#each restaurantList.0.TB_Menu}}<input id='menuitems' type='checkbox' /> {{food_item }}<br>{{/each}} "
            initMap(optionIndex.value, optionIndex.innerHTML);
      }else if(optionIndex.selectedIndex =="2"){
          inputItem.innerHTML = "  {{#each restaurantList.1.TB_Menu}}<input id='menuitems' type='checkbox' /> {{food_item }}<br>{{/each}} "
          initMap(optionIndex.value, optionIndex.innerHTML);
      }else if(optionIndex.selectedIndex=="3"){
           inputItem.innerHTML = "  {{#each restaurantList.2.TB_Menu}}<input id='menuitems' type='checkbox' /> {{food_item }}<br>{{/each}} "
      }else if(optionIndex.selectedIndex=="4"){
           inputItem.innerHTML = "  {{#each restaurantList.3.TB_Menu}}<input id='menuitems' type='checkbox' /> {{food_item }}<br>{{/each}} "
      }else if(optionIndex.selectedIndex=="5"){
           inputItem.innerHTML = "  {{#each restaurantList.4.TB_Menu}}<input id='menuitems' type='checkbox' /> {{food_item }}<br>{{/each}} "
      }else if(optionIndex.selectedIndex=="6"){
           inputItem.innerHTML = "  {{#each restaurantList.5.TB_Menu}}<input id='menuitems' type='checkbox' /> {{food_item }}<br>{{/each}} "
      }else if(optionIndex.selectedIndex=="7"){
           inputItem.innerHTML = "  {{#each restaurantList.6.TB_Menu}}<input id='menuitems' type='checkbox' /> {{food_item }}<br>{{/each}} "
      }else if(optionIndex.selectedIndex=="8"){
           inputItem.innerHTML = "  {{#each restaurantList.7.TB_Menu}}<input id='menuitems' type='checkbox' /> {{food_item }}<br>{{/each}} "
      }else if(optionIndex.selectedIndex=="9"){
           inputItem.innerHTML = "  {{#each restaurantList.8.TB_Menu}}<input id='menuitems' type='checkbox' /> {{food_item }}<br>{{/each}} "
      }else if(optionIndex.selectedIndex=="10"){
           inputItem.innerHTML = "  {{#each restaurantList.9.TB_Menu}}<input id='menuitems' type='checkbox' /> {{food_item }}<br>{{/each}} "
      }else if(optionIndex.selectedIndex=="11"){
           inputItem.innerHTML = "  {{#each restaurantList.10.TB_Menu}}<input id='menuitems' type='checkbox' /> {{food_item }}<br>{{/each}} "
      }else if(optionIndex.selectedIndex=="12"){
           inputItem.innerHTML = "  {{#each restaurantList.11.TB_Menu}}<input id='menuitems' type='checkbox' /> {{food_item }}<br>{{/each}} "
      }else if(optionIndex.selectedIndex=="13"){
           inputItem.innerHTML = "  {{#each restaurantList.12.TB_Menu}}<input id='menuitems' type='checkbox' /> {{food_item }}<br>{{/each}} "
      }else if(optionIndex.selectedIndex=="14"){
           inputItem.innerHTML = "  {{#each restaurantList.13.TB_Menu}}<input id='menuitems' type='checkbox' /> {{food_item }}<br>{{/each}} "
      }else if(optionIndex.selectedIndex=="15"){
           inputItem.innerHTML = "  {{#each restaurantList.14.TB_Menu}}<input id='menuitems' type='checkbox' /> {{food_item }}<br>{{/each}} "
      }else{
          inputItem.innerHTML = "";
      }
  })
            /**Implementing Google Map **/
            function initMap(data, name) {
                var coords = data.split(",");
                var myLatLng = {lat: parseFloat(coords[0]), lng: parseFloat(coords[1]) };
                //var myLatLng = {lat: 44.9728942, lng: -93.2926084};
                var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 14,
                center: myLatLng
                });
             
                
                var marker = new google.maps.Marker({
                    position: myLatLng,
                    map: map,
                    title: name
                });
                
            }
            
        
   
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDC0ciJIzSDDU8fw1nvwPcqjYhMDiNdhCc&region=US&callback=initMap"></script>